<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>Carosello di immagini</h1>
    <div class="wrapper">
      <div class="prev">
        <i @click="prevImg"class="fas fa-arrow-left"></i>
      </div>

      <div class="images">
        <img :src="photos[indexPhoto]" alt="">
      </div>

      <div class="next">
        <i @click="nextImg" class="fas fa-arrow-right"></i>
      </div>

      <div class="carousel">
        <!-- @click="indexPhoto = index" così quando clicco sul pallino lui mi rende l'index dell'immagina da mostrare uguale all'index del pallino che ho cliccato  -->
        <!-- v-for="(photo, index) in photos"         
        :class="(index === indexPhoto) ? 'active' : null" nel for metto  l'elemento photo e l'indice contenuti entrambi nell'array photos e cicla . in :class invece metto la condizione if dove confronto l'indice corrente del for con l'indice della photo e controllo che se l'indice della foto è dello stesso numero di quello dell'index del pallino allora aggiungo la classe activa al pallino in posizione index che è uguale all'index della photo aòtrimenti non fa nulla-->
        <i @click="indexPhoto = index" class="fas fa-circle"  
        v-for="(photo, index) in photos"         
        :class="(index === indexPhoto) ? 'active' : null" ></i>
      </div>
    </div>







  </div>









  <script src="assets/js/script.js"></script>
</body>
</html>